<?xml version="1.0"?>
<config>
    <modules>
        <Nwalkere_Balanceexport>
            <version>0.1.0</version>
        </Nwalkere_Balanceexport>
    </modules>
    <global>
        <models>
            <nwalkere_balanceexport>
                <class>Nwalkere_Balanceexport_Model</class>
                <resourceModel>nwalkere_balanceexport_mysql4</resourceModel>
            </nwalkere_balanceexport>
        </models>
        <resources>
            <nwalkere_balanceexport_setup>
                <setup>
                    <module>Nwalkere_Balanceexport</module>
                    <class>Nwalkere_Balanceexport_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nwalkere_balanceexport_setup>
            <nwalkere_balanceexport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </nwalkere_balanceexport_write>
            <nwalkere_balanceexport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </nwalkere_balanceexport_read>
        </resources>
        <events>
             <adminhtml_block_html_before>
                <observers>
                    <Nwalkere_Balanceexport>
                        <class>Nwalkere_Balanceexport_model_observer</class>
                        <method>addStoreBalanceToCustomAttribute</method>
                    </Nwalkere_Balanceexport>
                </observers>
            </adminhtml_block_html_before>
        </events>
</global>
</config>
